        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: grid;
            font-family: "Montserrat", sans-serif;
            background: linear-gradient(#0a070a,#c2adad,rgba(5, 0, 0, 0.39));
            animation: slideFromTop 1s ease forwards;
            transform: translateY(-100%);
            transition: transform 0.5s ease;
        }
        
        
        @keyframes slideFromTop {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        @keyframes allAnim {
            0% { transform: translateX(-10%,90%);transition: all 15s ease-out;
            background-color: #09232c; 
        visibility: hidden;}
            40% { 
            background-color: yellow;
        }
            100% { transform: translateY(210vw); 
                visibility: visible;
            }
        }
        #main-img {
            transition: transform 0.3s ease-in-out;
            max-width: 100%;
            margin-top: 0;
            height: auto;
        }

        #second-img {
            transition: transform 0.3s ease-in-out;
            max-width: 100%;
            margin-top: -4px;
            margin-bottom: 14px;
            height: auto;
        }

        #header {
            background: linear-gradient(lightgray,rgba(4, 20, 26, 0.363));
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        #header>a {
            text-decoration: none;
            color: #07171de5;
            text-align: end;
            font-weight: 500;
        }

        #header>a:hover {
            color: #09232c;
        }

        #logo {
            border-radius: 22%;
            padding: 10px;
            width: 50px;
            text-align: center;
            margin: 10px;
            margin-left: 50px;
        }
        #container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;
            margin: 10px;
            position: absolute;
            top: 10em;
            margin: 0 auto;
        }


        .container-img {
            border-radius: 20px;
        }
        #left1,
        #left2,
        #left3,
        #left4,
        #right1,
        #right2,
        #right3,
        #right4 {
            padding: 40px;
            font-size: 20px;
        }

        #left1,
        #left2,
        #left3,
        #left4 {
            text-align: justify;
            background: linear-gradient(lightgray,rgba(4, 20, 26, 0.363));            
            border-radius:30px 0.5em 30px 30px;
        }

    
        #footer {
            margin: 0px;
            margin-top:30pc;
            bottom: 0;
            left: 0;
            max-width: 100%;
            background-color: #333;
            color: #fff;
            padding: 40px;
            text-align: center;
            font-size: 14px;
        }

        h1 {
            color: #09232c;
            text-shadow: 1px 2px 4px snow;
        }

        #footer-p {
            line-height: 1.6;
        }

        .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon {
            font-size: 24px;
            margin: 0 10px;
            color: #fff;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #logo {
            animation: fadeInUp 1s ease-out;
        }
        .fa-bars {
            visibility: hidden;
        }
        
        .skater-container {
            background: rgb(70, 2, 2);
            display: flex;
            align-items: center;
            text-align: center;
            max-width: fit-content;
        }
        .skater-container1 {
            margin: 34.4px;
            z-index: 1;
            height: 20px;
            width: 100px;
            background: lightblue;
        }
        @keyframes skate {
            0% {  transition: all 1ms;}
            10% {  transition: all  1ms;}
            20% {  transition: all  1ms;}
            40% { transform: rotate(-10deg)}
            60% { transform: rotateX(-20deg)  }
            100% { transform: translateX(100vw) rotate(-45deg) ;}
        }
        
        .skater-container {
            position: relative;
            width: 100vw;
            height: 100px; 
            overflow: hidden;
        }
        
        .skater {
            width: 50px;
            z-index: 1;
            position: absolute;
            
            animation: skate 12s linear infinite;
        }
        @media screen and (max-width: 769px)  {
            body {
                background: gray;
            }
            #container {
                grid-template-columns: repeat(2, 1fr);
            }
            .fa-bars {
                visibility: visible;
                font-size: 25px;
                cursor: pointer;
                transform: rotate(90deg);
            }
            .fa-bars:hover{
                animation: bar 1s ease;
            }
            @keyframes bar {
                from {
                    
                    transition: all 1s;
                    transform: rotate(-180deg);
                }
    
                to {

                }
            }
            #header>a{
                visibility: hidden;
            }

            #container {
                grid-template-columns: repeat(2, 1fr);
            }
            #left1{
                grid-column: 1/3;
            }
            #left2{
                grid-column:1/3;
            }
            #left3{
                grid-column: 1/3;
            }
            #left4{
                grid-column: 1/3;
            }
            #right1{
                grid-column: 2/1;
            }
            #right2{
                grid-column: 2/3;
            }
            #right3{
                grid-column: 1/2;
            }
            #right4 {
                grid-column:2/3;
                width: 50%;
            }
            #footer{
            margin-top:70pc;
            }
            .skater-container {
                position: relative;
                width: 97.2vw;
                height: 100px; 
                overflow: hidden;
            }
            
            .skater {
                width: 50px;
                z-index: 1;
                position: absolute;
                animation: skate 12s linear infinite;
            }
            
        }

        @media screen and (max-width: 240px)  {
            body {
                background-color: gray;
            }
         #main-img {
            display: none;
        }

        #second-img {
            display: none;
        }

        #header {
            background-color: #0112;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        #header>a {
            text-decoration: none;
            color: #07171de5;
            text-align: end;
            font-weight: 500;
        }

        #header>a:hover {
            color: #09232c;
        }

        #logo {
            border-radius: 22%;
            padding: 0px;
            margin-right: -50%;
            width: 50px;
            text-align: none;
            margin: none;
        }

        
        #container {
            display: flex;
            flex-direction: column;
            height: 50px;
            padding: 10px;
            margin: 10px;
        }

        .container-img {
            border-radius: 20px;
        }
        #left1,
        #left2,
        #left3,
        #left4,
        #right1,
        #right2,
        #right3,
        #right4 {
            padding: 10px;
            font-size: 15px;
        }

        #left1,
        #left2,
        #left3,
        #left4 {
            background: none;
            border-radius:none;
        }

        #footer {
            margin: 0px;
            margin-top:200pc;
            bottom: 0;
            left: 0;
            max-width: 100%;
            background-color: #333;
            color: #fff;
            padding: 20px;
            font-size: 14px;
        }

        h1 {
            text-align: center;
            font-size: 30px;
            color: #09232c;
            text-shadow: 1px 2px 4px snow;
        }
        .txt {
            font-style: oblique;
            font-stretch:narrower;
            text-transform: capitalize;
        }
        #footer-p {
            line-height: 1.6;
        }

        .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon {
            font-size: 24px;
            margin: 0 10px;
            color: #fff;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        #logo {
            animation: fadeInUp 1s ease-out;
        }
        .fa-bars {
            left: -10%;
            visibility: visible;
            left: 10px;
            padding: 0px;
            width: 5px;
            font-size: 25px;
            cursor: pointer;
            transform: rotate(0deg);
        }   
        .skater-container {
            position: relative;
            width: 10vw;
            height: 100px; 
            overflow: hidden;
        }
        
        .skater {
            width: 50px;
            z-index: 1;
            position: absolute;
 
            animation: skate 12s linear infinite;
        }}